body {
    font-family: Arial;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


#dropArea {
    border: 2px dashed #4e73df;
    padding: 20px;
    margin: 15px 0;
}

#dropArea.dragover {
    background-color: #f0f8ff;
}

button {
    padding: 10px 20px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: scale(0.95);
}
button:disable {
    background:#999;
    cursor:not-allowed;
    opacity:0.7;
}
#preview {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    text-align: left;
}

#loading {
    margin-top: 10px;
    color: red;
}

.hidden {
    display: none;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}
